* {
  font-family: 'Barlow'; }

h1, h2, h3, blockquote {
  font-family: 'Marcellus SC'; }

h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .10em; }

h2 {
  color: #292C37;
  letter-spacing: .10em;
  text-transform: uppercase; }

h3, h4 {
  color: #7E6131;
  letter-spacing: .1em;
  text-transform: uppercase; }
  h3.has-background-color-yellow, h4.has-background-color-yellow {
    padding: .5em 1em; }

a {
  color: #DDA126;
  text-decoration: none;
  transition-property: padding;
  transition-duration: 500ms; }

i {
  color: #DDA126; }

hr {
  background-color: #FF0000; }
  hr.ornate {
    background-color: transparent;
    background-image: url(../../images/gold-ornate-border.png);
    background-repeat: no-repeat;
    height: 40px; }

.btn {
  background-color: #FF0000;
  border-color: #fff;
  border-radius: 3px;
  color: #ffffff;
  transition-property: background-color, padding-right;
  transition-duration: 200ms; }
  .btn.btn-outlined {
    border: 2px solid #DDA126; }
  .btn:hover {
    background-color: #DDA126;
    color: #ffffff; }
    .btn:hover i {
      color: inherit; }

.hero {
  background-color: #ffffff; }
  .hero h2 {
    color: #DDA126;
    font-family: 'Barlow'; }
  .hero .overlay {
    background-color: #000000;
    /* opacity: .9; */ }

section#main {
  background-color: #f6f6f6; }

header nav .current-menu-item a {
  color: #FF0000;
  font-weight: bold; }

header nav a {
  text-transform: uppercase; }
  header nav a:hover {
    color: #DDA126; }

header a {
  color: #ffffff; }
  header a:hover {
    color: #DDA126; }

header.is-absolute ~ * .hero,
header.is-fixed ~ * .hero {
  padding-top: 100px; }

header .social-menu a {
  margin: 0 .25em; }

header .social-menu a:hover {
  background-color: transparent;
  color: #FF0000; }

header .overlay {
  display: none;
  opacity: .1;
  background-color: #DDA126; }

.no-background header a {
  color: #DDA126; }

footer {
  color: #fff;
  background-color: #292C37; }

footer a {
  color: #DDA126; }

footer a:hover {
  padding-left: 10px; }

footer h4 {
  color: #7E6131;
  transition-property: color;
  transition-duration: 500ms; }

footer hr {
  background-color: #7E6131; }

footer i {
  margin-right: 10px;
  width: 20px;
  text-align: center; }

footer .col:hover h4 {
  color: #ffffff; }

.red {
  color: #FF0000; }

.yellow {
  color: #DDA126;
  border-color: #DDA126; }

.dark {
  color: #292C37; }

.is-yellow {
  color: #DDA126; }

.is-white {
  color: #ffffff; }

.is-red {
  color: #FF0000; }

.has-background-color-white {
  background-color: #fff; }

.has-background-color-yellow {
  background-color: #DDA126;
  color: #fff; }

.has-background-color-red {
  background-color: #FF0000;
  color: #ffffff; }

.has-background-color-purple {
  background-color: #292C37;
  color: #ffffff; }
  .has-background-color-purple h2 {
    color: #DDA126; }

.has-background-color-bronze {
  background-color: #7E6131;
  color: #ffffff; }

.has-border {
  border-color: #eee; }

.has-border-bottom {
  border-bottom: 1px solid #DDA126; }

i.fa-dollar-sign {
  line-height: 48px;
  width: 68px;
  height: 64px;
  padding: 10px;
  border-radius: 15px;
  font-size: 2.5em;
  margin-bottom: .78em; }

#menu-main.menu a {
  padding: .5em;
  transition-property: background-color;
  transition-duration: 500ms; }

#menu-social.menu a {
  padding: .5em .25em;
  transition-property: color;
  transition-duration: 500ms; }

.menu-overlay {
  color: #ffffff; }
  .menu-overlay .overlay {
    background-color: #292C37; }

.home header a {
  color: #ffffff; }

.home #welcome h1 {
  font-size: 2em; }

.home #welcome .hero {
  color: #ffffff;
  height: 100%; }

.home #welcome .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%); }

.home #drkaw-sticker {
  bottom: 0;
  z-index: 40; }

.watch #watch-live,
.post-type-archive-sermon #watch-live {
  border-bottom: 1px solid #DDA126; }

.watch #video-player,
.post-type-archive-sermon #video-player {
  background-image: url(../../assets/images/stage-lights-on-yellow.jpg);
  color: #fff; }
  .watch #video-player h1,
  .post-type-archive-sermon #video-player h1 {
    color: #FF0000; }
  .watch #video-player .time-display,
  .post-type-archive-sermon #video-player .time-display {
    font-size: 4em; }
  .watch #video-player span,
  .post-type-archive-sermon #video-player span {
    display: block; }

.watch .video-play,
.post-type-archive-sermon .video-play {
  display: block;
  height: 300px;
  position: relative; }
  .watch .video-play:after,
  .post-type-archive-sermon .video-play:after {
    content: ' ';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 50%; }

.watch .video-title,
.post-type-archive-sermon .video-title {
  bottom: 1em;
  display: inline-block;
  left: 10px;
  max-width: 70%;
  padding: 1em;
  position: absolute;
  width: 80%;
  z-index: 10; }
  .watch .video-title h3,
  .post-type-archive-sermon .video-title h3 {
    color: #ffffff;
    margin-bottom: .25em; }
  .watch .video-title span,
  .post-type-archive-sermon .video-title span {
    color: #ffffff; }

.watch .fa-play-circle,
.post-type-archive-sermon .fa-play-circle {
  position: absolute;
  right: 1em;
  top: 20px;
  font-size: 2em; }

.single-sermon #video-container {
  background-color: #292C37; }
  .single-sermon #video-container iframe {
    margin-bottom: 1em; }
  .single-sermon #video-container .hero {
    background-color: inherit; }

.visit #join-us .hero {
  background-image: url(../../assets/images/women-singing-during-praise-worship.jpg);
  color: #ffffff; }

.visit #join-us h2 {
  color: #ffffff; }

.visit #map iframe {
  height: 300px; }

@media (max-width: 500px) {
  .visit #map .container {
    margin: 0;
    width: 100%; } }

.visit .cosd {
  margin-bottom: 1em;
  transition-property: background-color;
  transition-duration: 200ms;
  height: inherit;
  background-color: #ffffff; }
  .visit .cosd:hover {
    background-color: #fcf9f8; }

.get-involved #find {
  color: #ffffff; }
  .get-involved #find a {
    color: inherit; }
  .get-involved #find .hero {
    background-color: #DDA126;
    background-image: url(../../assets/images/group-fist-bumping.jpg);
    height: 100%;
    padding: 4em 0; }
    .get-involved #find .hero .overlay {
      opacity: .4; }

.give #give .hero {
  background-color: #ffffff;
  background-image: url(../../assets/images/gymtorium-construction-progress.jpg);
  color: #ffffff;
  height: 100%; }
  .give #give .hero .overlay {
    opacity: .3; }

.give .hero-giving {
  max-height: 250px; }
  .give .hero-giving h2 {
    color: #ffffff;
    font-family: 'Barlow'; }

.give .has-background-color-cashapp {
  background-color: #0bb634;
  color: #ffffff; }

.give .has-bg-paypal {
  background-color: #0070ba;
  color: #ffffff; }

.give #construction {
  background-image: url(../../assets/images/steel-beams-in-sunset.jpg);
  color: #ffffff; }
  .give #construction h2 {
    color: #ffffff; }

.campus-expansion #campus-expansion .hero {
  background-image: url(../../assets/images/gymtorium-inside-progress.jpg);
  color: #ffffff; }

.outreach #outreach .hero {
  background-image: url(../../assets/images/community-loading-truck-with-water.jpg);
  color: #ffffff;
  height: 100%; }

.contact .col {
  transition-property: background-color;
  transition-duration: 500ms; }
  .contact .col .img-wrap .overlay {
    display: none; }
  .contact .col:hover .overlay {
    opacity: .4;
    display: block; }
